body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools{
  margin-bottom: 10px;
  width: 720px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.drawing-board {
  position: relative;
}

#layers-container {
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: darkgray;
}

#canvas-container {
  border: 7px solid black;
  border-radius: 15px;
  width: 720px;
  height: 480px;
  background-color: transparent;
}

.canvas-layer{
  border: 1px solid red;
  width: 720px;
  height: 480px;
  position: absolute;
}